<h1>About</h1>

<p>
  <b>WikiWiki</b> is your place to create any wiki of your choosing! We support full
  markdown so you can create great looking wikis quickly and easily!
</p>

<p>
  To get the most out of WikiWiki, upgrade to premium for the ability to create private
  wikis that only you can see! You can also collaborate on private wikis with other
  users so you can view and edit private wikis with a group.
</p>

<h4>For the full experience, upgrade to premium!</h4>
<p>
  Click on your e-mail in the top-right corner and click on "Upgrade." It's in testing
  mode, so as long as you enter "4242 4242 4242 4242" as the credit card number and a
  future expiration date it will go through successfully.
</p>
<%= image_tag "stripe.jpg" %>
<br /><br />
<p>
  Now you can create your own private wikis that only you can see! Also, you can add
  collaborators to your private wikis which will grant them the rights to view and edit
  your private wikis alongside you.
</p>
<p>Give it a shot, create a private wiki and add <b>damian@example.com</b> as a collaborator.</p>

<!-- <script>blocmetrics.report('about page loaded');</script> -->
